{% assign separator = ' > ' %}
{% assign found = false %}
{% assign menu_links = linklists.main-menu.links %}
{% assign current_breadcrumb = '' %}

{% for mainLink in menu_links %}
  {% if mainLink.current %}
    {% assign current_breadcrumb = '<a href="' | append: mainLink.url | append: '">' | append: mainLink.title | append: '</a>' %}
    {% assign found = true %}
  {% endif %}

  {% for subLink in mainLink.links %}
    {% if subLink.current %}
      {% assign current_breadcrumb = '<a href="' | append: mainLink.url | append: '">' | append: mainLink.title | append: '</a>' 
        | append: separator 
        | append: '<a href="' | append: subLink.url | append: '">' | append: subLink.title | append: '</a>' %}
      {% assign found = true %}
    {% endif %}

    {% for grandchildLink in subLink.links %}
      {% if grandchildLink.current %}
        {% assign current_breadcrumb = 
          '<a href="' | append: mainLink.url | append: '">' | append: mainLink.title | append: '</a>' 
          | append: separator 
          | append: '<a href="' | append: subLink.url | append: '">' | append: subLink.title | append: '</a>'
          | append: separator 
          | append: '<a href="' | append: grandchildLink.url | append: '">' | append: grandchildLink.title | append: '</a>' %}
        {% assign found = true %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% comment %} Fallback for pages not in menu {% endcomment %}
{% if current_breadcrumb == blank %}
  {% if template contains 'page' %}
    {% assign current_breadcrumb = page.title %}
  {% elsif template contains 'product' %}
    {% if product.collections.size > 0 %}
      {% assign collection = product.collections.first %}
      {% assign current_breadcrumb = '<a href="' | append: collection.url | append: '">' | append: collection.title | append: '</a>' 
        | append: separator 
        | append: product.title %}
    {% else %}
      {% assign current_breadcrumb = product.title %}
    {% endif %}
  {% elsif template contains 'collection' %}
    {% assign current_breadcrumb = collection.title %}
  {% endif %}
{% endif %}

<nav class="breadcrumb">
  <a href="{{ shop.url }}">Home</a>
  {% if current_breadcrumb != blank %}
    {{ separator }}{{ current_breadcrumb }}
  {% endif %}
</nav>
