{% assign current_url = request.path %}

{% assign breadcrumb = '' %}

{% for mainLink in linklists.main-menu.links %}
  
  {% if mainLink.url == current_url %}
    <!-- If current page matches main link -->
    {% assign breadcrumb = mainLink.title %}
    {% break %}
  {% endif %}

  {% for subLink in mainLink.links %}
    {% if subLink.url == current_url %}
      <!-- If current page matches sublink -->
      {% assign breadcrumb = mainLink.title | append: ' > ' | append: subLink.title %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if breadcrumb != '' %}
    {% break %}
  {% endif %}

{% endfor %}

{% if breadcrumb != '' %}
  <nav class="breadcrumb">
    {{ breadcrumb }}
  </nav>
{% endif %}
