
{% assign breadcrumb = '' %}
{% assign separator = ' > ' %}

{% comment %} Recursive function to find current page in menu {% endcomment %}
{% assign found = false %}

{% assign menu_links = linklists.main-menu.links %}

{% assign current_breadcrumb = '' %}

{% for mainLink in menu_links %}
  {% if mainLink.current %}
    {% assign current_breadcrumb = mainLink.title %}
    {% assign found = true %}
  {% endif %}

  {% for subLink in mainLink.links %}
    {% if subLink.current %}
      {% assign current_breadcrumb = mainLink.title | append: separator | append: subLink.title %}
      {% assign found = true %}
    {% endif %}

    {% for grandchildLink in subLink.links %}
      {% if grandchildLink.current %}
        {% assign current_breadcrumb = mainLink.title | append: separator | append: subLink.title | append: separator | append: grandchildLink.title %}
        {% assign found = true %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% comment %} Fallback for pages not in menu {% endcomment %}
{% if current_breadcrumb == blank %}
  {% if template contains 'page' %}
    {% assign current_breadcrumb = page.title %}
  {% elsif template contains 'product' %}
    {% if product.collections.size > 0 %}
      {% assign collection = product.collections.first %}
      {% assign current_breadcrumb = collection.title | append: separator | append: product.title %}
    {% else %}
      {% assign current_breadcrumb = product.title %}
    {% endif %}
  {% elsif template contains 'collection' %}
    {% assign current_breadcrumb = collection.title %}
  {% endif %}
{% endif %}

{% comment %} Output breadcrumb {% endcomment %}
<nav class="breadcrumb">
  <a href="{{ shop.url }}">Home</a>
  {% if current_breadcrumb != blank %}
    {{ separator }}{{ current_breadcrumb }}
  {% endif %}
</nav>

