{% assign collection_url = collection.url %}
{% assign breadcrumb = '' %}

{% for mainLink in linklists.main-menu.links %}
  {% assign found = false %}
  
  {% if mainLink.url == collection_url %}
    {% assign breadcrumb = mainLink.title %}
    {% assign found = true %}
  {% endif %}

  {% for subLink in mainLink.links %}
    {% if subLink.url == collection_url %}
      {% assign breadcrumb = mainLink.title | append: ' > ' | append: subLink.title %}
      {% assign found = true %}
    {% endif %}
  {% endfor %}

  {% if found %}
    {% break %}
  {% endif %}
{% endfor %}

{% if breadcrumb != '' %}
  <nav class="breadcrumb">
    <a href="/">Home</a> > {{ breadcrumb }}
  </nav>
{% endif %}
