{{ 'return-refund-form.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="return_refund_main">
    <form class="wpforms-validate wpforms-form wpforms-ajax-form">
      <div class="wpforms-head-container">
        <div class="wpforms-title">Return Merchandise Authorisation</div>
      </div>
      <noscript class="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</noscript>
      <div class="wpforms-field-container">
        <div id="wpforms-39261-field_8-container" class="wpforms-field wpforms-field-checkbox" data-field-id="8">
          <label class="wpforms-field-label">I am applying for a Return Merchandise Authorisation <span class="wpforms-required-label">*</span></label>
          <ul id="wpforms-39261-field_8" class="main-form-top wpforms-field-required">
            <li class="choice-1 depth-1">
              <input type="checkbox" id="wpforms-39261-field_8_1" name="wpforms[fields][8][]" value="Yes" required="">
              <label class="wpforms-field-label-inline" for="wpforms-39261-field_8_1">Yes</label>
            </li>
          </ul>
          <div class="wpforms-field-description">
            By ticking this box you acknowledge and agree to the SpaceLogic Return Policy and Warrany Terms. To submit a Return Merchandise Authorisation (RMA) request, please complete the following form. In order to expedite your request, please complete all information requested below and submit. You will be notified with an RMA number if your return request has been approved. Shipping information for sending the unit to SpaceLogic Group Pty Ltd will be provided once the RMA is issued.
          </div>
        </div>
        <div id="wpforms-39261-field_1-container" class="bottom_form wpforms-field wpforms-field-name" data-field-id="1">
          <label class="wpforms-field-label">Name 
            <span class="wpforms-required-label">*</span>
          </label>
          <div class="wpforms-field-row wpforms-field-medium">
            <div class="wpforms-field-row-block wpforms-first wpforms-one-half">
              <input type="text" id="wpforms-39261-field_1" class="wpforms-field-name-first wpforms-field-required" name="wpforms[fields][1][first]" required="">
              <label for="wpforms-39261-field_1" class="wpforms-field-sublabel after">First</label>
            </div>
            <div class="wpforms-field-row-block wpforms-one-half">
              <input type="text" id="wpforms-39261-field_1-last" class="wpforms-field-name-last wpforms-field-required" name="wpforms[fields][1][last]" required="">
              <label for="wpforms-39261-field_1-last" class="wpforms-field-sublabel after">Last</label>
            </div>
          </div>
        </div>
        <div id="wpforms-39261-field_10-container" class="bottom_form  wpforms-field wpforms-field-text" data-field-id="10">
          <label class="wpforms-field-label" for="wpforms-39261-field_10">
            Company name 
            <span class="wpforms-required-label">*</span>
          </label>
          <input type="text" id="wpforms-39261-field_10" class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][10]" required="">
        </div>
        </div>
        <div class="wpforms-submit-container">
          <input type="hidden" name="wpforms[id]" value="39261">
          <input type="hidden" name="page_title" value="Customer Returns Policy">
          <input type="hidden" name="page_url" value="https://spacelogicgroup.com/customer-returns-policy/">
          <input type="hidden" name="url_referer" value="">
          <input type="hidden" name="page_id" value="39250">
          <input type="hidden" name="wpforms[post_id]" value="39250">
          <button type="submit" name="wpforms[submit]" id="wpforms-submit-39261" class="wpforms-submit" data-alt-text="Sending…" data-submit-text="Submit RMA Request" aria-live="assertive" value="wpforms-submit">
            Submit RMA Request</button>
          <img decoding="async" src="https://spacelogicgroup.com/wp-content/plugins/wpforms-lite/assets/images/submit-spin.svg" class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="Loading">
        </div>
    </form>
  </div>
</div>


{% schema %}
  {
    "name": "return-refund-form",
    "settings": [],
    "presets": [
    {
      "name": "return-refund-form"
    }
  ]
  }
{% endschema %}