.subtitle--small.subtitle {
  font-size: 20px;
}

.subtitle--large.subtitle {
  font-size: 28px;
}

.title.h2 {
  font-size: 44px;
}

.title.h0 {
  font-size: 50px;
}

.title.hxl {
  font-size: 52px;
}

.title.hxxl {
  font-size: 54px;
}

.image-with-text__content .image-with-text__text--caption {
  margin-top: 3rem;
}

.image-with-text__content>*+* {
  margin-top: 1.6rem;
}

.image-with-text__text p {
  margin-bottom: 1.6rem;
}

.image-with-text__media-item {
  border-radius: 16px 0 0 16px;
  overflow: hidden;
}

.image-with-text__grid--reverse .image-with-text__content {
  padding: 0 5rem 0 0;
}

.image-with-text-v1 .grid {
  --grid-desktop-horizontal-spacing: 5rem;
}

@media screen and (min-width: 1025px) {
  .image-with-text__text-item .image-with-text__content {
      padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .image-with-text__text-item .image-with-text__content {
      padding: 0;
  }

  .image-with-text__content .image-with-text__text--caption {
    margin-top: 1.2rem;
  }

  .image-with-text-v1 .image-with-text__content>*+* {
    margin-top: 1.4rem;
  }

  .image-with-text-v1 .image-with-text__grid.grid {
    --grid-desktop-horizontal-spacing: 0.1rem;
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  .image-with-text-v1 .image-with-text__content .image-with-text__text+.button {
    margin-top: 2rem;
  }

  .image-with-text-v1 .image-with-text__grid.grid {
    --grid-desktop-horizontal-spacing: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .image-with-text__text-item .image-with-text__content {
    padding: 0;
  }

  .image-with-text__media-item {
    border-radius: 10px;
  }
}

@media screen and (max-width: 749px) {
  .image-with-text-v1 .image-with-text__content>*+* {
    margin-top: 1rem;
  }
}