.custom-multicolumn-with-text .sec-head .title.h1 {
    font-size: calc(var(--font-heading-scale)* 4.8rem);
}

.custom-multicolumn-with-text .multicolumn-box .multicolumn-section-subtitle.subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-top: 1.2rem;
  line-height: normal;
}

.custom-multicolumn-with-text .multicolumn-box .grid__item {
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 16px;
  border-radius: 0px;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box__item {
  padding: 24px 24px 40px;
  text-align: center;
  border-radius: 8px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box .subtitle {
  font-weight: 600;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description {
  padding: 0 13px 0 0;
  margin: 0 0 2.9rem;
  font-size: 22px;
  line-height: 1.18;
}
.swiper-container-initialized .categories-slider .main-product-categories .collection-list + .slider-buttons {
  display: block;
}
.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description li:not(:last-child) {
    margin: 0 0 1.6rem;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description ul li::before {
    content: "•";
    margin-right: 6px;
}

.custom-multicolumn-with-text .multi-column-box-with-image .box-title {
    margin: 0 0 4.1rem;
}

.custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box__item .button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1366px) {
    .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description {
        margin: 0 0 4rem;
        padding: 0;
    }

    .custom-multicolumn-with-text .multi-column-box-with-image .box-title {
        margin: 0 0 2.4rem;
    }

    .custom-multicolumn-with-text .multicolumn-box .grid__item {
        padding: 16px;
    }
}

@media screen and (max-width: 1199px) {
    .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box__item {
        padding: 16px 16px 30px 16px;
    }

    .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description {
        margin: 0 0 3rem;
    }

    .custom-multicolumn-with-text .multi-column-box-with-image .multicolumn-box-description {
        font-size: 18px;
    }

    .custom-multicolumn-with-text .multi-column-box-with-image .box-title {
        font-size: calc(var(--font-heading-scale)* 3.4rem);
    }

    .custom-multicolumn-with-text .multicolumn-box .multicolumn-section-subtitle.subtitle {
        font-size: 26px;
        margin-top: 1.6rem;
    }
}

@media screen and (max-width: 989px) {
    .custom-multicolumn-with-text .sec-head .title.h1 {
        font-size: calc(var(--font-heading-scale)* 3.4rem);
    }
}

@media screen and (max-width: 749px) {
    .custom-multicolumn-with-text .multicolumn-box .multicolumn-section-subtitle.subtitle {
        font-size: 20px;
        margin-top: 0;
    }

    .custom-multicolumn-with-text .multicolumn-box .title {
        margin-bottom: 1rem;
    }

    .custom-multicolumn-with-text .sec-head .title.h1 {
        font-size: calc(var(--font-heading-scale)* 2.8rem);
    }
}