.section-custom-slide-show .slideshow__text.banner__box {
  height: 100%;
  padding: 0;
  width: 100%;
}
.section-custom-slide-show .slideshow__text-wrapper:has(.slideshow__text--left) {
  justify-content: flex-start;
}
.section-custom-slide-show .slideshow__text-wrapper:has(.slideshow__text--right) {
  justify-content: flex-end;
}
.section-custom-slide-show .slideshow__text.banner__box.slideshow__text--center  {
  max-width: 100%;
}
.section-custom-slide-show .slider-buttons .slider-button {
    display: none;
}

.section-custom-slide-show .banner__buttons .button {
  box-shadow: 0 4px 4px #00000040;
}

.section-custom-slide-show .slideshow__slide {
    height: auto;
}
slideshow-component .slideshow__slide.enable_side_image_main:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background: url(https://cdn.shopify.com/s/files/1/0657/3388/6106/files/SpaceLogic_brain_-_left_white.png?v=1748415911) no-repeat bottom;
  width: 150px;
  background-size: 100% auto;
  height: 100%;
}
slideshow-component .slideshow__slide.enable_side_image_main:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(https://cdn.shopify.com/s/files/1/0657/3388/6106/files/SpaceLogic_brain_-_right_white.png?v=1748415910) no-repeat top;
  width: 150px;
  background-size: 100% auto;
  height: 100%;
  z-index: 1;
}

@media screen and (min-width: 990px) {
    .section-custom-slide-show .slideshow__text-wrapper.banner__content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-custom-slide-show .banner--large:not(.banner--adapt) {
        min-height: 66rem;
    }
}

@media screen and (max-width: 989px) {
    .section-custom-slide-show .banner--large:not(.banner--adapt) {
        min-height: 50rem;
    }
}

@media screen and (min-width: 1367px) {
    .section-custom-slide-show .banner--large:not(.banner--adapt) {
        min-height: 83rem;
    }
}

@media screen and (max-width: 989px) {
    .section-custom-slide-show .slideshow__text-wrapper.banner__content {
        padding: 0;
    }
}

@media screen and (max-width: 749px) {
  slideshow-component .slideshow__slide.enable_side_image_main:after {
    width: 100px;
  }
  slideshow-component .slideshow__slide.enable_side_image_main:before {
    width: 100px;
  }
}


