.custom-image-banner .banner__content .banner__box {
    height: 100%;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.custom-image-banner .banner__content {
    padding-top: 0;
    padding-bottom: 0;
}

.custom-image-banner .banner-text-con {
    padding: 50px 20px;
    background-color: rgba(187, 187, 187, 0.4);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 16px 16px;
}

.custom-image-banner .banner__box .banner__heading+* {
    margin-top: 1.6rem;
}

.custom-image-banner .banner__box .banner__text.subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: normal;
}

.custom-image-banner .banner__buttons .button {
    box-shadow: 0 4px 4px #00000040;
}

@media screen and (min-width: 990px) {
    .custom-image-banner .banner--large:not(.banner--adapt) {
        min-height: 69rem;
    }
}

@media screen and (max-width: 989px) {
    .custom-image-banner .banner--large:not(.banner--adapt) {
        min-height: 57rem;
    }

    .custom-image-banner .banner__box .banner__text.subtitle {
        font-size: 26px;
    }
}

@media screen and (min-width: 1367px) {
    .custom-image-banner .banner--large:not(.banner--adapt) {
        min-height: 91.8rem;
    }
}

@media screen and (max-width: 1366px) {
    .custom-image-banner .banner-text-con {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 749px) {
    .custom-image-banner .banner-text-con {
        margin: 0 1.5rem;
        padding: 20px 10px;
    }

    .custom-image-banner .banner__box .banner__text.subtitle {
        font-size: 20px;
    }
}