a {
  text-decoration: none;
  color: inherit;
}

.blog-img-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.button, .button-label, .shopify-challenge__button, .customer button {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.17;
  border-radius: 8px;
}

.button::after, .button-label::after, .shopify-challenge__button::after, .customer button::after {
  border-radius: 8px;
}

.utility-bar .phone-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.utility-bar .phone-number__link {
  display: flex;
  align-items: center;
  gap:16px;
  text-decoration: none;
  color: #fff;
  line-height: 21px;
  font-size: 16px;
  line-height: 18px;
}

.utility-bar .phone-number__link svg {
  width: 20px;
  height: 20px;
}

span.loc_flg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
span.img-icon {
    width: 30px;
    height: 21px;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
}
.header-localization .disclosure .localization-form__select:hover {
    text-decoration: none;
}
.header-localization:not(.menu-drawer__localization) .localization-form__select .icon-caret {
    right: 0;
}
.js .header-localization:not(.menu-drawer__localization) .localization-form__select {
    padding: 0 20px 0 1.2rem;
}
.header-localization .disclosure .localization-form__select {
    letter-spacing: 0;
  line-height: 21px;
}
.utility-bar .localization-wrapper .disclosure .localization-form__select, .utility-bar .localization-wrapper .disclosure__link {
    font-size: 16px;
}
.announcement-bar-slider .slider-button--next .icon {
    transform: none;
}
.announcement-bar-slider .slider-button--prev .icon {
  transform: rotate(180deg);
}
.announcement-bar-slider .slider-button--next:not([disabled]):hover .icon {
  transform: none;
}
.announcement-bar-slider .slider-button--prev:not([disabled]):hover .icon {
    transform: rotate(180deg);
}
.announcement-bar-slider .slider-button .icon {
    height: 10px;
}
.announcement-bar__message {
    letter-spacing: 0;
    font-size: 16px;
    line-height: 18px;
}
.header__menu-item {
    padding: 0;
}
.header__active-menu-item {
    text-decoration: none;
}
.header__submenu .list-menu__item--active {
    text-decoration: none;
}
.header__menu-item .icon-caret {
    right: 0.5rem;
    height: 12px;
    width: 12px;
    top: 50%;
    transform: translateY(-50%);
}
details[open]>.header__menu-item .icon-caret {
    transform: translateY(-50%);
}

details[open]>.header__menu-item .ic_pluse{
  display: none;
}

.newsletter-form .newsletter-form__message {
  font-size: 2rem;
}

.newsletter-form .newsletter-form__message .icon {
  height: 1.8rem;
  margin-right: 1rem;
  width: 1.8rem;
}

/* ------ Card Product ---------- */

.collection__title-alignment-left {
  text-align: left;
}

.collection__title-alignment-center {
  text-align: center;
}

.collection__title-alignment-right {
  text-align: right;
}

.collection .collection__title.title-wrapper {
  margin-bottom: 5rem;
}

.product-card-wrapper .card__heading.h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.product-card-wrapper .card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 1.8rem;
}

.card-wrapper .price {
  letter-spacing: 0;
}

.card-wrapper.underline-links-hover:hover a {
  text-decoration: none;
}

.card-wrapper .price__sale .price-item--sale,
.card-wrapper .price__regular .price-item--regular {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  color: rgba(var(--color-button),var(--alpha-button-background));
}

.card-wrapper .price__sale .price-item--regular {
  font-size: 18px;
  line-height: 1.44;
  color: #BBBBBB;
}

.card-wrapper .card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1.4rem);
}

.card-wrapper .card--media .card__inner .card__content .left {
  margin-left: -14px;
}

.card-wrapper .card--media .card__inner .card__content .right {
  margin-right: -14px;
}

.card-wrapper .card--media .card__inner .card__content .card__badge {
  display: flex;
  /* clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 100%, 0 100%); */
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.card-wrapper .card--media .card__inner .card__content .card__badge .badge {
  padding: 10px 17px 10px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: 0;
  clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 100%, 0 100%);
  border: none;
  width: fit-content;
}

.card-wrapper .card--media .card__inner .card__content .card__badge .badge.card__badge--new {
  background-color: var(--primary-theme-color);
  color: #424242;
}

.collection .card--card, .collection .card--standard .card__inner {
  border-color: #EEEEEE;
}

/* .card-wrapper .card--media .card__inner .card__content .card__badge .badge.sale-badge {
  background-color: #424242;
  color: var(--primary-theme-color);
}

.card-wrapper .card--media .card__inner .card__content .card__badge .badge.sold_out-badge {
  background-color: #EEEEEE;
  color: #CC0C39;
} */


.swiper-pagination {
  display: flex;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #424242;
}

.swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  display: inline-block;
  background: #FFCE00;
  width: 12px;
  height: 12px;
  border-radius: 999px;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #EEEEEE;
  display: inline-block;
  opacity: 1;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  display: block;
}

.swiper .swiper-button {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid var(--primary-theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.swiper .swiper-button:hover {
  background-color: var(--primary-theme-color);
}

.swiper .swiper-button::after {
  content: "";
  background: url(https://cdn.shopify.com/s/files/1/0657/3388/6106/files/slider-arrow.svg?v=1737034361) no-repeat center;
  background-size: 22px;
  height: 20px;
  width: 22px;
  display: inline-block;
}

.swiper .swiper-button-next::after {
  transform: rotate(180deg);
}

.slider-button--next .svg-wrapper svg {
  transform: rotate(180deg);
}

.slider-buttons .slider-button {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid var(--primary-theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}



.slider-buttons .slider-button .svg-wrapper {
  width: 18px;
  height: 18px;
}

.slider-buttons .slider-counter {
  display: none;
}

body .slider-buttons {
  gap: 15px;
  padding: 0 1.5rem;
  justify-content: start;
}


@media screen and (min-width: 1025px) {
  .card-wrapper .card__content .card__information {
      padding-bottom: 2.4rem;
      padding-top: 2.4rem;
  }
}

@media screen and (max-width: 1199px) {
  .collection .collection__title.title-wrapper {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .product-card-wrapper .card__heading.h5 {
    font-size: 20px;
  }

  .card-wrapper .price__sale .price-item--sale, .card-wrapper .price__regular .price-item--regular {
    font-size: 20px;
  }

  .product-card-wrapper .card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
    margin-top: 1.2rem;
  }

  .swiper .swiper-button {
    width: 50px;
    height: 50px;
  }

  .swiper .swiper-button:after {
    background-size: 18px;
    height: 16px;
    width: 18px;
  }
}

@media screen and (max-width: 991px) {
  .button, .button-label, .shopify-challenge__button, .customer button {
    font-size: 18px;
  }

  .card-wrapper .card--media .card__inner .card__content .card__badge .badge {
    padding: 6px 14px 6px 6px;
    font-size: 13px;
  }
  body .slider-buttons {
    gap: 14px;
    justify-content: center;
    margin-top: 30px;
  }

  .newsletter-form .newsletter-form__message {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 749px) {
  .product-card-wrapper .card__heading.h5, .card-wrapper .price__sale .price-item--sale, .card-wrapper .price__regular .price-item--regular {
    font-size: 16px;
  }

  .card-wrapper .price__sale .price-item--regular {
    font-size: 14px;
  }

  .product-card-wrapper .card__information {
    padding: 1.5rem 0;
  }

  .product-card-wrapper .card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
    margin-top: 0.8rem;
  }

  .button, .button-label, .shopify-challenge__button, .customer button {
    font-size: 16px;
    padding: 16px;
  }

  .collection .collection__title.title-wrapper {
    margin-bottom: 0;
  }

  .swiper .swiper-button {
    width: 40px;
    height: 40px;
  }
  .slider-buttons .slider-button {
    width: 40px;
    height: 40px;
  }

  .swiper .swiper-button:after {
    background-size: 16px;
    height: 14px;
    width: 16px;
  }

  .collection-list .collection-list__item .card__information h2.card__heading {
    font-size: calc(var(--font-heading-scale)* 1.6rem);
  }

  .newsletter-form .newsletter-form__message {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 568px) {
  .title br {
    display: none;
  }

  .card-wrapper .card--media .card__inner .card__content .card__badge .badge {
    font-size: 10px;
  }

  .card-wrapper .card--media .card__inner .card__content .card__badge {
    gap: 6px;
  }
}

@media screen and (max-width: 479px) {
  .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item, .grid--peek .grid__item {
    width: calc(90% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }
}

span.product_compar_price {
  text-decoration: line-through;
}
