@media screen and (min-width: 750px) {
    .section-custom-slideshow-slider .banner--large:not(.banner--adapt) {
        min-height: 74.6rem;
    }
}

.section-custom-slideshow-slider .slideshow.banner {
    padding: 0 200px;
}

.section-custom-slideshow-slider .slideshow.banner .slideshow__slide {
    margin: 0 25px;
    border-radius: 16px;
    overflow: hidden;
}