.custom-multicolumn-with-image .section-sub-title.subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-top: 1.6rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: normal;
}

.custom-multicolumn-with-image .multi-column-box-with-image .multicolumn-box__item {
  padding: 24px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.custom-multicolumn-with-image .multicolumn-box__item_inner {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  /* border-radius: 0px; */
  min-height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 17px;
  text-align: center;
}

.custom-multicolumn-with-image.multi_box_image .multicolumn-box-img-wrapper {
    max-height: initial;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.custom-multicolumn-with-image.multi_box_image .multicolumn-box-img-wrapper img {
    height: 100%;
    object-fit: cover;
}

.custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner {
    min-height: 647px;
    padding: 50px 24px;
}

.custom-multicolumn-with-image .grid.grid--2-col-desktop {
    --grid-desktop-horizontal-spacing: 50px;
    --grid-desktop-vertical-spacing: 52px;
}

.custom-multicolumn-with-image .multicolumn-box .grid.grid--2-col-desktop .title {
    margin: 0 0 2.4rem;
}

.custom-multicolumn-with-image .multicolumn-box .title {
    margin: 0 0 0.8rem;
}

.custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner:before,
.custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner:after {
    content: unset;
}

.custom-multicolumn-with-image .multicolumn-box__item_inner > * {
    position: relative;
    z-index: 2;
}

.custom-multicolumn-with-image .multi-column-box-with-image .multicolumn-box-description {
    padding: 0;
}

.custom-multicolumn-with-image .multicolumn-box-description.subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: normal;
}

.custom-multicolumn-with-image .multicolumn-box-bottom-con .multicolumn-box-description {
    margin-bottom: 24px;
    color: #424242;
    text-shadow: 0px 1px 3px #FFFFFF;
}

.custom-multicolumn-with-image .multicolumn-box__item_inner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#000 -40.37%,#fff0 49.05%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    /* border-radius: 0px; */
    z-index: 1;
}

.custom-multicolumn-with-image .multicolumn-box__item_inner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#fff -40.47%,#0000 38.37%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    /* border-radius: 0px; */
    z-index: 1;
}

.custom-multicolumn-with-image .button {
    box-shadow: 0 4px 4px #00000040;
    margin-top: 24px;
}

@media screen and (max-width: 1500px) {
    .custom-multicolumn-with-image .multicolumn-box__item_inner {
        min-height: 486px;
    }

    .custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner {
        min-height: 580px;
        padding: 30px 24px;
    }
    .custom-multicolumn-with-image .section-sub-title.subtitle {
      font-size: 25px;
    }
    .custom-multicolumn-with-image .multicolumn-box-description.subtitle {
      font-size: 25px;
    }
    .custom-multicolumn-with-image .multicolumn-box .title {
      font-size: 31px;
    }
}

@media screen and (max-width: 1199px) {
    .custom-multicolumn-with-image .multi-column-box-with-image .multicolumn-box__item {
        padding: 12px;
    }

    .custom-multicolumn-with-image .multicolumn-box__item_inner {
        min-height: 430px;
    }

    .custom-multicolumn-with-image .section-sub-title.subtitle {
        font-size: 26px;
    }

    .custom-multicolumn-with-image .multicolumn-box .title {
        margin: 0 0 1.6rem;
    }

    .custom-multicolumn-with-image .grid.grid--2-col-desktop {
        --grid-desktop-horizontal-spacing: 30px;
        --grid-desktop-vertical-spacing: 30px;
    }

    .custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner {
        min-height: 500px;
    }
}

@media screen and (max-width: 989px) {
    .custom-multicolumn-with-image .grid--2-col-desktop .multicolumn-box__item_inner {
        min-height: 400px;
    }
    .custom-multicolumn-with-image .multicolumn-box__item_inner {
      min-height: 310px;
    }
    .custom-multicolumn-with-image .multicolumn-box .title {
      font-size: 28px;
    }
  .custom-multicolumn-with-image .section-sub-title.subtitle, .custom-multicolumn-with-image .multicolumn-box-description.subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 749px) {
    .custom-multicolumn-with-image .multicolumn-box .title {
        margin: 0 0 1rem;
    }

    .custom-multicolumn-with-image .section-sub-title.subtitle {
        font-size: 20px;
        margin-top: 0;
    }
}