.Custom-Collage .collage-card.product-card-wrapper {
    --border-radius: 24px;
    border-color: #BBBBBB;
}

.Custom-Collage .collage__item {
    cursor: pointer;
}

.project-popup-image-slider {
    border-radius: 16px;
}

.project-popup-image-slider.swiper .swiper-pagination {
    border-radius: 0;
    border: 0;
    background: transparent;
    position: static;
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.project-popup-image-slider.swiper .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
}

.project-popup-image-slider.swiper .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
}

.project-popup-image-slider.swiper .swiper-pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    margin: 0 0 30px;
}

.project-popup-image-slider.swiper .swiper-arrow-button {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 14px;
    height: auto;
    transition: all .3s ease-in-out;
}

.project-popup-image-slider.swiper .swiper-arrow-button::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0657/3388/6106/files/icon-angle-down.svg?v=1738827169);
    background-size: 14px;
    background-repeat: no-repeat;
    display: inline-block;
    flex: 0 0 14px;
    height: 14px;
}

.project-popup-image-slider.swiper .swiper-button-next:after {
    transform: rotate(-90deg);
}

.project-popup-image-slider.swiper .swiper-button-prev:after {
    transform: rotate(90deg);
}

.projects-popup-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 99999;
    width: calc(100vw - 100px);
    max-width: 1120px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 0px #000000CC;
    padding: 30px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.projects-popup-main.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -51%);
}

body.popup-overflow-hidden {
    overflow: hidden;
    position: relative;
}

body.popup-overflow-hidden::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
}

.projects-popup-main .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.projects-popup-main .close-btn svg {
    width: 100%;
    height: 100%;
}

.projects-popup-main .project-image-item {
    border-radius: 16px;
    overflow: hidden;
    height: 400px;
}

.projects-popup-main .project-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.projects-popup-main .project-name {
  margin: 3rem 0 0;
}
.projects-popup-main .project-name.sub_heading {
  margin: 1.5rem 0 0;
}
.projects-popup-main .project-short-des {
    font-size: 18px;
    line-height: 1.44;
    margin: 2.4rem 0 0;
}

.projects-popup-main .project-short-des p {
    margin: 0;
}

.projects-popup-main .project-logo-imgbox {
    margin: 3rem 0 0;
}

.projects-popup-main .project-logo-imgbox img {
    max-width: 217px;
    height: auto;
    object-fit: contain;
}
.Custom-Collage .collage .collage__item {
  position: relative;
}
.Custom-Collage .collage .collage__item .project-logo-imgbox {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  right: 20px;
  max-width: 220px;
  bottom: 17px;
  height: auto;
}
.Custom-Collage .collage .collage__item .project-logo-imgbox img {
  display: inline-block;
  width: 100%;
  object-fit: unset;
  border-radius: 8px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .Custom-Collage .collage .collage__item .project-logo-imgbox {
    max-width: 140px;
  }
  .Custom-Collage .collage .collage__item .project-logo-imgbox img {
    object-fit: fill;
  }
}



@media screen and (min-width: 750px) {
    .Custom-Collage .collage {
        --grid-desktop-horizontal-spacing: 45px;
        --grid-desktop-vertical-spacing: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .projects-popup-main .project-name {
        font-size: calc(var(--font-heading-scale)* 4rem);
    }

    .projects-popup-main .project-logo-imgbox img {
        max-width: 150px;
    }

    .projects-popup-main {
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
        max-height: 820px;
    }

    .projects-popup-main .close-btn {
        width: 26px;
    }

    .projects-popup-main .project-image-item {
        height: 370px;
    }

    .Custom-Collage .collage {
        --grid-desktop-horizontal-spacing: 23px;
        --grid-desktop-vertical-spacing: 23px;
    }
}

@media screen and (max-width: 749px) {
    .projects-popup-main .project-image-item {
        height: 220px;
        border-radius: 10px;
    }

    .projects-popup-main {
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
        max-height: 650px;
        padding: 50px 20px 20px;
        border-radius: 10px;
    }

    .projects-popup-main .close-btn {
        width: 20px;
        top: 12px;
        right: 12px;
    }

    .project-popup-image-slider.swiper .swiper-pagination {
        gap: 20px;
    }

    .project-popup-image-slider.swiper .swiper-pagination-wrapper {
        gap: 20px;
        margin: 0 0 20px;
    }

    .project-popup-image-slider.swiper .swiper-arrow-button:after {
        flex: 0 0 11px;
        height: 11px;
        background-size: 11px;
    }

    .project-popup-image-slider.swiper .swiper-arrow-button {
        width: 11px;
    }

    .projects-popup-main .project-image-item img,
    .project-popup-image-slider {
        border-radius: 10px;
    }

    .projects-popup-main .project-name {
        margin: 2rem 0 0;
        font-size: calc(var(--font-heading-scale)* 3rem);
    }

    .projects-popup-main .project-short-des {
        font-size: 14px;
        margin: 1.2rem 0 0;
    }

    .projects-popup-main .project-logo-imgbox img {
        max-width: 130px;
    }

    .projects-popup-main .project-logo-imgbox {
        margin: 2rem 0 0;
    }

    .Custom-Collage .collage-card.product-card-wrapper {
      --border-radius: 12px;
    }
}

@media screen and (max-width: 400px) {
    .project-popup-image-slider.swiper .swiper-pagination {
        gap: 10px;
    }

    .project-popup-image-slider.swiper .swiper-pagination-wrapper {
        gap: 15px;
    }
}