.contact-section {
  padding: 0;
}
.contact-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.contact-image {
  position: relative;
  height: 100%;
  min-height: 600px;
}
.contact-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
  top: 0;
  left: 0;
}
.contact-form-wrapper {
  padding: 0 0 0 0px;
  display: flex;
  flex-direction: column;
  width: 56.7%;
  /* justify-content: center; */
}
.contact-details {
  display: inline-block;
  width: 37.8%;
  margin-top: 21px;
}
.contact-header {
  margin-bottom: 40px;
}
.contact-subtitle {
  font-size: 18px;
  color: #666;
}
.form-field {
  margin-bottom: 16px;
}
.contact-form-wrapper .form_label_main .form-label {
  display: block;
  /* line-height: 1.2; */
  /* font-weight: 500; */
}
.contact-form-wrapper .form_label_main {
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 8px;
}
.contact-form-wrapper .form_label_main img {
  margin-right: 4px;
  width: 13px;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 11.5px 15px;
  color: rgba(var(--color-foreground), 1);
  border: 1px solid rgba(var(--color-foreground), 1);
  border-radius: 8px;
  font-size: 18px;
  transition: border-color 0.3s ease;
  line-height: 1.25;
  -webkit-appearance: none;
  position: relative;
  font-weight: 500;
}
.contact-form-wrapper .form-select {
  background: url('https://cdn.shopify.com/s/files/1/0657/3388/6106/files/Frame.png?v=1737702545') right;
  background-repeat: no-repeat;
  display: inline-block;
  color: rgba(var(--color-foreground), 1);
  background-color: #fff;
}
.form-input:focus,
.form-textarea:focus,
.form-select:focus {
  outline: none;
  box-shadow: unset;
  border: 1px solid rgba(var(--color-foreground), 1);
}
.form-textarea {
  height: 150px;
  resize: vertical;
  min-height: 50px;
}
.submit-button {
  /* width: 100%; */
  border-radius: 88px;
}
.submit-button::after,
.submit-button::before {
  outline: unset;
  box-shadow: unset;
  border: unset;
}
.submit-button:hover {
  opacity: 0.9;
}
.form-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}
.form-success {
  background: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: none;
}



.location-cards {
  display: flex;
  gap: 0;
  margin-top: 0;
  flex-wrap: wrap;
  row-gap: 50px;
}
.location-card {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(var(--color-foreground),30%);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.location-card .location-card-main {
  display: flex;
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(var(--color-foreground),30%);
  flex-direction: column;
  margin: auto;
  padding: 30px;
  background: #fff; 
}
.location-title {
  margin-bottom: 3rem;
  line-height: 1.17;
}
.distributor-logos img.distributor-logo {
  display: inline-block;
}
.location-company {
  font-weight: 500;
  margin-bottom: 1rem;
}

.location-detail {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 1.6rem;
}
.location-detail:first-child span {
  font-size: 20px;
  line-height: 1.3;
}
.location-detail svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.social-links {
  display: flex;
  gap: 16px;
  margin-top: 4px;
}
.location-info {
  height: 100%;
}
.location-card .distributor_text {
  height: 100%;
}
.location-info:not(:has(*)) {
  display: none;
}
.social-links:not(:has(*)) {
  display: none;
}
.social-links .social-link svg {
  width: 24PX;
  height: 24PX;
}
.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--color-foreground));
  border-radius: 6px;
  transition: opacity 0.3s;
}

.social-link:hover {
  opacity: 0.8;
}

.distributor-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.distributor-section p {
  padding: 0;
  margin-top: 0;
}
.distributor-logos {
  display: flex;
  gap: 16px;
  margin-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between  ;
}

@media screen and (max-width: 1360px) {
  .form-input, .form-textarea, .form-select {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-form-wrapper {
    padding: 0 0 0 40px;
  }
}

@media screen and (max-width: 989px) {
  .location-cards {
    flex-wrap: wrap;
  }
  .location-card {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 749px) {

    .location-card {
      width: 100%;
    }
    .form-input,
    .form-textarea,
    .form-select {
     font-size: 14px; 
    }
    .contact-form-wrapper .form-select {
      background-size: 20px 20px;
    }

}


@media screen and (max-width: 990px) {
 
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-image img {
    height: auto;
    position: unset;
  }
  .contact-image {
    min-height: 300px;
  }  
  .contact-form-wrapper {
    padding: 40px 0px;
  }
  .contact-subtitle {
    font-size: 16px;
  }

}