

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-sec .newsletter__wrapper.content-container--full-width {
  padding-left: 5rem;
  padding-right: 5rem;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 100%;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }

  .newsletter .grid {
    --grid-desktop-horizontal-spacing: 7.5rem;
    align-items: center;
  }
}

.newsletter-heading-con .title {
  margin: 0 0 2.4rem;
}

.newsletter .newsletter-form {
  max-width: 100%;
}

.newsletter .field__label {
  position: static;
  display: block;
  /* margin-bottom: 0.8rem; */
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.66;
  color: rgb(var(--color-foreground));
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsletter .field__label svg {
  width: 18px;
  height: 18px;
}

.newsletter .field__input {
  border: 1px solid #4242424D;
  border-radius: 8px;
  /* height: 6rem; */
  height: 5rem;
  background: #fff;
  /* font-size: 20px; */
}

.newsletter .field__button {
  position: static;
}

.subscribe-btn {
  margin: 4rem 0 0;
}

.input_field {
  margin: 0 0 1.6rem;
}

.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill {
  padding: 1.5rem;
  margin: var(--inputs-border-width);
  box-shadow: none;
}

.newsletter-sec {
  margin-top: var(--spacing-sections-desktop);
}

@media screen and (max-width: 1024px) {
  .newsletter .grid {
    --grid-desktop-horizontal-spacing: 4rem;
    align-items: center;
  }

  .newsletter .field__input {
    height: 4.5rem;
  }

  .subscribe-btn {
    margin: 2.5rem 0 0;
  }
}

@media screen and (max-width: 991px) {
  .newsletter-heading-con .title {
    margin: 0 0 2rem;
  }

  .newsletter .grid {
    --grid-desktop-horizontal-spacing: 3rem;
  }

  .newsletter-heading-con .title br {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .newsletter-heading-con .title {
    margin: 0 0 1.2rem;
  }

  .newsletter-sec .newsletter__wrapper.content-container--full-width {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}