.multi-column-box-with-image .multicolumn-box {
  margin-top: 0;
  margin-bottom: 0;
}

.multi-column-box-with-image .multicolumn-box__item {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.multi-column-box-with-image .item-box-shadow .multicolumn-box__item {
  box-shadow: 0px 1px 40px 0px #00000014;
}

.multi-column-box-with-image .multicolumn-box__image {
  display: block;
  width: 100%;
  height: auto;
}

.multi-column-box-with-image .heading-with-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 1.6rem;
}

.multi-column-box-with-image .heading-with-icon-wrapper .img-box {
  aspect-ratio: 1 / 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: rgb(var(--color-foreground));
  border-radius: 999px;
}

.multi-column-box-with-image .heading-with-icon-wrapper .img-box img {
  width: 100%;
  display: block;
  height: auto;
}

.multi-column-box-with-image .multicolumn-box .subtitle {
  margin: 0;
}

.multi-column-box-with-image .multicolumn-box-description {
  padding: 2.4rem 1.6rem;
}

.multi-column-box-with-image .multicolumn-box-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.multi-column-box-with-image .multicolumn-box-description p:not(:last-child) {
  margin: 0 0 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multi-column-box-with-image .grid--2-col-tablet .grid__item {
      max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

/* @media screen and (min-width: 990px) {
  .multi-column-box-with-image .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }

  .multi-column-box-with-image .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
} */

@media screen and (max-width: 749px) {
  .multi-column-box-with-image .multicolumn-box-description {
    padding: 1.5rem;
  }

  .multi-column-box-with-image .heading-with-icon-wrapper .img-box {
    height: 45px;
    padding: 9px;
  }

  .multi-column-box-with-image .heading-with-icon-wrapper {
    gap: 10px;
  }

  .multi-column-box-with-image .grid {
    --grid-mobile-vertical-spacing: 1.5rem;
  }

  .multi-column-box-with-image .multicolumn-box-description p:not(:last-child) {
    margin: 0 0 0.5rem;
  }
}