/* Testimonial Slider Styles */
.testimonial_new .testimonial-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding-bottom: 100px;
}

.testimonial_new .testimonial-slides {
  box-sizing: border-box;
}

.testimonial_new .testimonial-slide {
  padding: 3rem;
  border: 1px solid var(--primary-theme-color);
  border-radius: 16px;
}

.testimonial_new .testimonial-content {
  margin-bottom: 4rem;
}

.testimonial_new .testimonial-content p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.testimonial_new .testimonial-author {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.testimonial_new .testimonial-author-image {
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
  box-shadow: 0px 0px 40px 0px #00000014;
}

.testimonial_new .testimonial-author-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial_new .testimonial-author-info {
  flex: 1;
}

.testimonial_new .testimonial-author-name {
  margin: 0 0 1rem;
}

.testimonial_new .testimonial-author-title {
  margin: 0;
}

.testimonial_new .testimonial-slider .swiper-button {
  top: unset;
  bottom: 0;
}

.testimonial_new .testimonial-slider .swiper-button-prev {
  left: 0;
  right: auto;
}

.testimonial_new .testimonial-slider .swiper-button-next {
  right: auto;
  left: 74px;
}

.testimonial_new .image-with-text__grid--reverse .image-with-text__content {
  padding: 0;
}

.testimonial_new .testimonial .title.image-with-text__heading {
  max-width: 430px;
  text-transform: unset;
}

.testimonial_new .image-with-text__grid .grid__item {
  flex-grow: initial;
}
.testimonial_new .image-with-text__grid .image-with-text__media-item {
  width: 42%;
  max-width: 100%;
}

.testimonial_new .image-with-text__grid .image-with-text__text-item {
  width: calc(100% - 42% - 126px);
  max-width: 100%;
}

.testimonial_new .image-with-text__grid .image-with-text__media-item .media {
  border: none;
}

.testimonial_new .testimonial-slider .swiper-pagination {
  justify-content: end;
  width: 35%;
  right: 0;
  left: unset;
}

@media screen and (min-width: 750px) {
  
  .testimonial_new .testimonial .grid--2-col-tablet .grid__item.image-with-text__media-item {
      width: calc(48% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .testimonial_new .testimonial .grid--2-col-tablet .grid__item.image-with-text__text-item {
      width: calc(52% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

@media screen and (min-width: 990px) {
  .testimonial_new .testimonial .image-with-text__grid.grid {
    justify-content: space-between;
  }
  .testimonial_new .image-with-text__grid .image-with-text__media-item .media {
    padding-bottom: 0 !important;
  }
  .testimonial_new .testimonial .image-with-text__media-item img {
    object-fit: contain;
    position: static;
  }
}

@media screen and (min-width: 1025px) {
  .testimonial_new .testimonial .image-with-text__grid.grid {
    --grid-desktop-horizontal-spacing: 12.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .testimonial_new .testimonial .image-with-text__grid.grid {
    --grid-desktop-horizontal-spacing: 4rem;
  }

  .testimonial_new .testimonial-slide {
    padding: 2rem;
  }

  .testimonial_new .testimonial-author-name {
    margin: 0 0 0.5rem;
  }

  .testimonial_new .testimonial-slider {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .testimonial_new .testimonial .image-with-text__media-item {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .testimonial_new .image-with-text__grid .image-with-text__text-item {
    width: 100%;
    max-width: 100%;
}

  .testimonial_new .testimonial .title.image-with-text__heading {
    max-width: 100%;
  }

  .testimonial_new .image-with-text__grid--reverse {
    flex-direction: column;
  }
  .testimonial_new .testimonial-slider .swiper-button-prev {
    left: calc(50% - 57px);
  }
  .testimonial_new .testimonial-slider .swiper-button-next {
    right: calc(50% - 57px);
    left: auto;
  }
}

@media screen and (max-width: 749px) {
  .testimonial_new .testimonial .image-with-text__media-item {
    max-width: 100%;
    margin: 0 auto;
  }

  .testimonial_new .testimonial-slide {
    padding: 1.5rem;
  }
  .testimonial_new .testimonial-author {
    gap: 1.5rem;
  }

  .testimonial_new .testimonial-content {
    font-size: 1.4rem;
    line-height: 1.8;
  }
  
  .testimonial_new .testimonial-author-image {
    width: 50px;
    height: 50px;
  }

  .testimonial_new .testimonial-slider {
    padding-bottom: 65px;
  }
  .testimonial_new .testimonial-slider .swiper-button-next {
    right: calc(50% - 47px);
  }
  .testimonial_new .testimonial-slider .swiper-button-prev {
    left: calc(50% - 47px);
  }
}

