.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}
.main-page-col .title {
  margin-bottom: 40px;
}
ul.page_list {
  list-style-type: none;
  padding: 0;
}
ul.page_list li {
  padding-left: 30px;
  position: relative;
}
/* ul.page_list li::after {
  position: absolute;
  content: "";
  left: 16px;
  top: 11px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(var(--color-foreground), 1);
} */
.return-refund-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
