.section-title-alignment-left {
  text-align: left;
}

.section-title-alignment-center {
  text-align: center;
}

.section-title-alignment-right {
  text-align: right;
}

.multicolumn-services .title {
  max-width: 1030px;
  margin: 0 auto;
  text-transform: unset;
}

.services-icon-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin: 0 0 3rem;
}

.services-icon-heading .subtitle {
  flex: 1;
}

.services-icon-heading .subtitle p {
  margin: 0;
}

.column-alignment-left .multicolumn-services__item .rte {
  text-align: left;
}

.column-alignment-center .multicolumn-services__item .rte {
  text-align: center;
}

.column-alignment-right .multicolumn-services__item .rte {
  text-align: right;
}

.column-alignment-center .services-icon-heading {
  justify-content: center;

}
.column-alignment-right .services-icon-heading {
  justify-content: end;
}

.multicolumn-services__item {
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.multicolumn-services__item.grid__item {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}

.multicolumn-services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  height: 70px;
  border-radius: 50%;
}

.multicolumn-services__icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.multicolumn-services__item h3 {
  margin: 0;
}

.multicolumn-services__item .rte {
  margin: 0;
}

/* Grid Classes */
.multicolumn-services .grid {
  display: flex;
  flex-wrap: wrap;
}

.multicolumn-services .grid__item {
  flex: 0 0 auto;
}

/* Desktop Grid */
.multicolumn-services .grid--1-col-desktop .grid__item {
  width: 100%;
}

.multicolumn-services .grid--2-col-desktop .grid__item {
  width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
}

.multicolumn-services .grid--4-col-desktop .grid__item {
  width: calc(25% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
}

@media screen and (max-width: 1366px) {
  .services-icon-heading .subtitle {
    font-size: 20px;
  }

  .multicolumn-services__icon {
    height: 50px;
  }

  .multicolumn-services__icon img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 1199px) {
  .services-icon-heading .subtitle {
    font-size: 18px;
  }

  .multicolumn-services__icon {
    height: 45px;
  }

  .multicolumn-services__icon img {
    width: 24px;
    height: 24px;
  }

  .multicolumn-services .grid {
    --grid-desktop-horizontal-spacing: 1.4rem;
  }

  .multicolumn-services__item.grid__item {
    padding: 1.5rem;
  }

  .services-icon-heading {
    margin: 0 0 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .services-icon-heading {
    flex-direction: column;
    align-items: start;
    margin: 0 0 1rem;
  }

  .multicolumn-services__icon {
    height: 60px;
  }

  .multicolumn-services__icon img {
    width: 30px;
    height: 30px;
  }

  .multicolumn-services__item.grid__item {
    padding: 1.5rem;
    justify-content: start;
  }
}

/* Tablet Breakpoint */
@media screen and (max-width: 989px) {

  /* .multicolumn-services__grid {
    row-gap: 2rem;
    column-gap: 2rem;
  } */

  .multicolumn-services .grid--2-col-desktop .grid__item,
  .multicolumn-services .grid--3-col-desktop .grid__item,
  .multicolumn-services .grid--4-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .multicolumn-services__icon {
    height: 50px;
  }

  .multicolumn-services__icon img {
    width: 25px;
    height: 25px;
  }

  .services-icon-heading {
    align-items: center;
    flex-direction: row;
  }
}

/* Mobile Breakpoint */
@media screen and (max-width: 749px) {

  .multicolumn-services .grid--1-col-mobile .grid__item {
    width: 100%;
    max-width: 100%;
  }

  /* .grid--2-col-mobile .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  } */

  .services-icon-heading .subtitle {
    flex: 1;
  }

  .services-icon-heading {
    flex-direction: row;
    gap: 1.5rem;
    margin: 0 0 1.5rem;
  }

  .multicolumn-services__item.grid__item {
    padding: 1.5rem;
  }
  
  .multicolumn-services__icon {
    width: 50px;
    height: 50px;
  }

  .multicolumn-services__icon img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 360px) {
  .services-icon-heading {
    align-items: start;
    flex-direction: column;
  }
}