.project-consultation__wrapper .title.h2 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.project-consultation__wrapper .title.h1 {
  font-size: calc(var(--font-heading-scale) * 3.2rem);
  margin-bottom: 3rem;
}

.project-consultation__wrapper .title.h0 {
  font-size: calc(var(--font-heading-scale) * 4.8rem);
}

.page-banner_sec .video_yt_banner iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    max-height: 600px;
}

.video_yt_banner.project-consultation__image-wrapper {
    box-shadow: 0px 0px 40px 0px #00000014;
    margin: 0 0 4rem;
}

.project-consultation__wrapper {
    gap: 0;
}

.project-consultation-sec {
    position: relative;
}

.project-consultation__wrapper .title {
    margin-bottom: 3rem;
}

.project-consultation__text {
    margin: 0;
}

.project-consultation__image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 0 5rem;
}

/* .project-consultation__image-wrapper.image-block {
    max-height: 540px;
    min-height: 540px;
} */

/* .template-index .project-consultation__image-wrapper.image-block {
    max-height: 600px;
    min-height: 600px;
} */

.project-consultation__image-wrapper img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.page-banner_sec .rich-text__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5rem;
}

.page-banner_sec .section-title-alignment-left .rich-text__buttons {
    justify-content: start;
}

.page-banner_sec .section-title-alignment-center .rich-text__buttons {
    justify-content: center;
}

.page-banner_sec .section-title-alignment-right .rich-text__buttons {
    justify-content: right;
}

.page-banner_sec .medium-width {
    max-width: 91.2rem;
    margin: 0 auto;
}

.page-banner_sec .content-alignment-left {
    text-align: left;
}

.page-banner_sec .content-alignment-center {
    text-align: center;
}

.page-banner_sec .content-alignment-right {
    text-align: right;
}

.page-banner_sec .content-alignment-left .rich-text__buttons {
    justify-content: start;
}

.page-banner_sec .content-alignment-center .rich-text__buttons {
    justify-content: center;
}

.page-banner_sec .content-alignment-right .rich-text__buttons {
    justify-content: end;
}

.page-banner_sec .project-consultation__caption {
    margin: 0 0 3rem;
    font-weight: 600;
}

.page-banner_sec .project-consultation__caption p:not(:last-child) {
    margin-bottom: 1rem;
}

.page-banner_sec .project-consultation__caption p {
    margin: 0;
}

.project-consultation__text p {
    margin-top: 0;
}

.project-consultation__text p:not(:last-child) {
    margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
    .page-banner_sec .video_yt_banner iframe {
        max-height: 520px;
    }

    .project-consultation__wrapper .title {
        margin-bottom: 2rem;
    }

    .project-consultation__image-wrapper {
        margin: 0 0 2rem;
    }

    .project-consultation__wrapper .title.h0 {
        font-size: calc(var(--font-heading-scale) * 3.4rem);
    }

    .project-consultation__wrapper .title.h1 {
        font-size: calc(var(--font-heading-scale) * 2.6rem);
        margin-bottom: 2rem;
    }

    .project-consultation__wrapper .title.h2 {
        font-size: calc(var(--font-heading-scale) * 2rem);
    }

    .page-banner_sec .rich-text__buttons {
        margin-top: 2rem;
    }

    .page-banner_sec .project-consultation__caption {
        margin: 0 0 2rem;
    }
}

@media screen and (max-width: 989px) {

    .page-banner_sec .video_yt_banner iframe {
        max-height: 410px;
    }

    .page-banner_sec .medium-width {
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 749px) {

    .project-consultation__wrapper .title.h0 {
        font-size: calc(var(--font-heading-scale) * 2.4rem);
    }

    .project-consultation__wrapper .title.h1 {
        font-size: calc(var(--font-heading-scale) * 2rem);
        margin-bottom: 2rem;
    }

    .project-consultation__wrapper .title.h2 {
        font-size: calc(var(--font-heading-scale) * 1.8rem);
    }

    .page-banner_sec .video_yt_banner iframe {
        max-height: 240px;
    }

    .page-banner_sec .rich-text__buttons {
        gap: 15px;
        flex-wrap: wrap;
    }

    .page-banner_sec .rich-text__buttons .button {
        width: 100%;
    }

    .project-consultation__wrapper .title {
        margin-bottom: 1.5rem;
    }

    .page-banner_sec .project-consultation__caption {
        margin: 0 0 1.5rem;
    }

    .project-consultation__text p:not(:last-child) {
        margin-bottom: 10px;
    }
}