.product-catalog-sec {
  margin-top: var(--spacing-sections-desktop);
}

.product-catalog-container {
  display: flex;
  align-items: center;
}
.product-catalog-container .grid--2-col-desktop .grid__item {
  width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  max-width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
}
.product-catalog-wrapper {
  border-radius: 16px;
  overflow: hidden;
}

.product-catalog-container .grid {
  --grid-desktop-horizontal-spacing: 6.2rem;
  align-items: center;
}

.product-catalog-wrapper .reverse-columns {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.product-catalog-sec .product-image img {
  width: 100%;
  height: auto;
  display: block;
}

.product-catalog-right .logo {
  max-width: 201px;
  margin-bottom: 2.4rem;
}

.product-catalog-sec .logo img {
  width: 100%;
  height: auto;
  display: block;
}

.product-catalog-right .description a {
  text-decoration: underline;
  transition: all .3s ease-in-out;
}

.product-catalog-right .description a:hover {
  color: var(--primary-theme-color);
}

.product-catalog-sec .buttons {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.product-catalog-sec .product-catalog-right {
  padding: 30px 40px 30px 0;
}

.product-catalog-sec .product-catalog-right .description {
  margin-top: 24px;
}

@media screen and (min-width: 1280px) {
  .product-catalog-sec .product-catalog-right .title {
    font-size: 52px;
  }
}

/* Responsive Styles */

@media screen and (min-width: 990px) and (max-width: 1220px) {
  .product-catalog-right .logo {
    margin-bottom: 2rem;
  }
  .product-catalog-sec .title {
    margin: 0 0 1.5rem;
  }
  .product-catalog-sec .buttons {
    margin-top: 2rem;
  }
  .product-catalog-sec .buttons .button {
    width: 100%;
  }
  .product-catalog-sec .product-catalog-right {
    padding: 30px 20px 30px 0;
  }
}

@media screen and (min-width: 990px) and (max-width: 1280px) {
  .product-catalog-container .grid {
    align-items: initial;
    --grid-desktop-horizontal-spacing: 3rem;
  }

  .product-catalog-container .product-image {
    height: 100%;
  }

  .product-catalog-sec .product-image img {
    height: 100%;
    object-fit: cover;
  }

  .product-catalog-sec .title {
    margin: 0 0 1.5rem;
    /* font-size: calc(var(--font-heading-scale) * 3.8rem); */
  }
}

@media screen and (max-width: 1024px) {
  .product-catalog-container .grid {
    --grid-desktop-horizontal-spacing: 3rem;
  }

  .product-catalog-sec .buttons {
    gap: 1.5rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 989px) {
  .product-catalog-container {
    flex-direction: column;
  }
  
  .product-catalog-left,
  .product-catalog-right {
    width: 100%;
  }

  .product-catalog-sec .product-image {
    max-width: 100%;
    margin: 0 auto;
  }

  .product-catalog-right .logo {
    margin-bottom: 1.5rem;
  }

  .product-catalog-sec .buttons {
    margin-top: 2rem;
  }

  .product-catalog-wrapper {
    border-radius: 8px;
    padding-bottom: 3px;
  }
  .product-catalog-sec .product-catalog-right {
    padding: 0 30px 30px;
  }

  .product-catalog-sec .product-catalog-right .title br {
    display: none;
  }
  .product-catalog-sec .product-catalog-right .description {
    margin-top: 20px;
  }
}

@media screen and (max-width: 749px) {
  
  .product-catalog-sec .buttons {
    flex-direction: column;
  }
  
  .product-catalog-sec .button {
    width: 100%;
    text-align: center;
  }

  .product-catalog-sec .product-image {
    max-width: 100%;
  }
  .product-catalog-sec .product-catalog-right {
    padding: 0 15px 20px;
  }
}
