.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}
.collection-list-title {
  margin: 0;
}
.categories-slider .main-product-categories .collection-list {
  /* flex-wrap: nowrap; */
  /* overflow: auto; */
}
.categories-slider .main-product-categories .collection-list .card_product_main_desc strong {
  font-weight: 600;
}
.categories-slider .main-product-categories .collection-list .card_product_main_desc a {
  text-decoration: underline;
}
/* .categories-slider .main-product-categories .collection-list .full-unstyled-link::after {
  pointer-events: none;
} */
.view_video_popup.active {
  display: block;
}
.view_video_popup {
  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  height: fit-content;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 20px;
  display: none;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 30px #0006;
  margin: 0 auto;
  transform: translateY(-50%);
}
.video-open {
  overflow: hidden;
}


@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
