.Custom_image_text_slider.main_slider .swiper-slide .image-with-text .image-with-text__grid {
    padding-left: 0;
    align-items: stretch;
}

.Custom_image_text_slider .image-with-text {
    border-radius: 16px;
    overflow: hidden;
    padding: 24px;
    border: 1px solid rgba(66, 66, 66, 1);
}

.Custom_image_text_slider .image-with-text .image-with-text__media-item {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

body .Custom_image_text_slider .swiper .swiper-pagination {
    position: static;
    margin-top: 2.4rem;
    transform: unset;
}

.Custom_image_text_slider .image-with-text-slider .swiper-slide,
.Custom_image_text_slider .image-with-text,
.Custom_image_text_slider .image-with-text__grid {
    min-height: 78.3rem;
}

.Custom_image_text_slider .image-with-text-slider.image-with-text__media--small .swiper-slide,
.Custom_image_text_slider .image-with-text__media--small .image-with-text,
.Custom_image_text_slider .image-with-text__media--small .image-with-text__grid {
    min-height: 64rem;
}

.Custom_image_text_slider .image-with-text__content .sec-head {
    margin: 0;
}

.Custom_image_text_slider .image-with-text-slider-wrapper:after,
.Custom_image_text_slider .image-with-text-slider-wrapper:before {
    content: unset;
}

.Custom_image_text_slider .image-with-text__media-item {
    position: relative;
}

.Custom_image_text_slider .image-text-con-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: max-content;
}

.Custom_image_text_slider .image-text-con-buttons .button {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.Custom_image_text_slider .image-text-con-buttons {
    overflow: visible;
}

.Custom_image_text_slider .section-des {
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 2.4rem;
}

.Custom_image_text_slider .section-des p:not(:last-child) {
    margin: 0 0 1.6rem;
}

.Custom_image_text_slider .image-with-text__text strong {
    font-size: 24px;
    line-height: 1.08;
    font-weight: 400;
}

.Custom_image_text_slider .image-with-text-slider.show-half-slide {
    padding: 0 5rem;
}

.Custom_image_text_slider .image-with-text-slider .image-with-text__grid.grid {
    --grid-desktop-horizontal-spacing: 4rem;
}

@media screen and (min-width: 1541px) {
    .Custom_image_text_slider .image-with-text-slider.show-half-slide {
        padding: 0 233px;
    }
}

@media screen and (min-width: 1440px) {
    .Custom_image_text_slider.main_slider .image-with-text-slider .grid--2-col-tablet .image-with-text__media-item.grid__item {
        width: calc(51.5% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .Custom_image_text_slider.main_slider .image-with-text-slider .grid--2-col-tablet .image-with-text__text-item.grid__item {
        width: calc(48.5% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}

@media screen and (min-width: 1367px) {
    .Custom_image_text_slider .image-with-text-slider .image-with-text__grid.grid {
        --grid-desktop-horizontal-spacing: 6.4rem;
    }
}

@media screen and (min-width: 990px) {
    .Custom_image_text_slider .image-with-text-slider .image-with-text__content {
        padding: 0 33px 0 0;
    }
}

@media screen and (max-width: 1366px) {
    .Custom_image_text_slider .image-with-text-slider .swiper-slide, .Custom_image_text_slider .image-with-text, .Custom_image_text_slider .image-with-text__grid {
        min-height: 70.3rem;
    }

    .Custom_image_text_slider .image-with-text-slider.image-with-text__media--small .swiper-slide, .Custom_image_text_slider .image-with-text__media--small .image-with-text, .Custom_image_text_slider .image-with-text__media--small .image-with-text__grid {
        min-height: 57rem;
    }
}