.multicolumn-card .multicolumn-card-spacing {
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.multicolumn-card .multicolumn-card__image-wrapper {
  box-shadow: 0px 0px 40px 0px #0000001A;
  border-radius: 16px;
  overflow: hidden;
}

.multicolumn-card .multicolumn-card__info {
  margin-top: 2.4rem;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: all .3s ease-in-out;
}

.multicolumn-card__info .inline-richtext {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.17;
}

.multicolumn-card__info:hover {
  background-color: var(--button-hover-background-color);
  border-color: var(--button-hover-background-color);
}
/* .multicolumn-pages-boxes .slider-buttons .slider-button[disabled="disabled"] {
  display: none;
} */

.slider-buttons:has(.slider-button--prev[disabled="disabled"] + .slider-button--next[disabled="disabled"]) {
  display: none;
}


@media screen and (max-width: 1024px) {
  .multicolumn-pages-boxes .multicolumn-card__info .inline-richtext {
    font-size: 18px;
  }

  .multicolumn-pages-boxes .multicolumn-card .multicolumn-card__info {
    padding: 1.3rem;
  }
}

@media screen and (max-width: 991px) {
  .multicolumn-card__info .inline-richtext {
    font-size: 18px;
  }

  .multicolumn-pages-boxes .multicolumn-card__info .inline-richtext {
    font-size: 16px;
  }

  .multicolumn-pages-boxes .multicolumn-card .multicolumn-card__info {
    padding: 1.1rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 749px) {
  .multicolumn-pages-boxes .grid {
    --grid-mobile-vertical-spacing: 2rem;
  }
}