.project-consultation-sec {
  position: relative;
}

.project-consultation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-consultation__heading {
    margin: 0;
    font-family: IBM Plex Sans;
    font-weight: 700;
    line-height: 1.28;
    margin: 0 0 3rem;
}

.project-consultation__heading p {
  margin: 0;
}

.project-consultation__text {
  margin: 0;
}

.project-consultation__image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0 0 5rem;
}

.project-consultation__image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.project-consultation__content .title {
  margin-bottom: 20px;
}

@media screen and (min-width: 750px) {
  .project-consultation__wrapper {
    align-items: center;
    gap: 3rem;
  }

  .project-consultation__content .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 990px) {
  .project-consultation__wrapper {
    gap: 4rem;
  }
}

/* Heading sizes */
.project-consultation__heading.h0 {
  font-size: calc(var(--font-heading-scale) * 2.6rem);
}

.project-consultation__heading.h1 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

.project-consultation__heading.h2 {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
}

@media screen and (min-width: 990px) {
  .project-consultation__heading.h0 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }

  .project-consultation__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }

  .project-consultation__heading.h2 {
    font-size: calc(var(--font-heading-scale) * 2.6rem);
  }
}

@media screen and (min-width: 750px) {
    .project-consultation__heading.h0 {
        font-size: calc(var(--font-heading-scale) * 3.6rem);
    }

    .project-consultation__heading.h1 {
        font-size: calc(var(--font-heading-scale) * 2.8rem);
    }

    .project-consultation__heading.h2 {
        font-size: calc(var(--font-heading-scale) * 2.2rem);
    }
}

@media screen and (max-width: 1024px) {
    .project-consultation__heading {
        margin: 0 0 1.5rem;
    }
}